.hidden {
  display: none;
}

.plus-minus-button {
  color: blue;
  font-size: 2em;
}

.hidable-content-header {
  background-color: brown;
}

.notes {
  color: purple;
}

.question-text {
  color: green;
}

#question-page {
  width: 600px;
  height: 600px;
  background-color: LightGrey;
}

#solution-page {
  width: 600px;
  height: 600px;
  background-color: LightGrey;
}
