html, body {
    height: 100%;
}

body {
    display: flex;
    background-color: #6699b3;
    justify-content: center;
    align-items: flex-start;
}

main {
    display: flex;
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    margin: 70px 7%;
    color: #545556;
    border: 8px solid #545556;
    border-radius: 24px;
    background-color: #545556;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    align-items: stretch;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    min-width: 67%;
    min-height: 800px;
    padding-bottom: 20px;
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
    background-color: #D9E0E2;
    flex-grow: 2;
    justify-content: space-between;
    align-items: stretch;
}

.question-page, .solution-page, .landing-and-score-page {
    display: flex;
    padding: 60px 80px;
    flex-wrap: wrap;
    align-items: center;
    flex-grow: 20;
}

.words-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1 0 80%;
}

.landing-and-score-page h1, .landing-and-score-page h2 {
    font-size: 2.15em;
    line-height: 250%;
}

.landing-and-score-page h1 { font-weight: 600; }
.landing-and-score-page h2 { font-weight: 500; }

.huge {
    font-size: 1.4em;
    font-weight: 600;
}

.landing-and-score-page button {
    margin-top: 80px;
}

h1 span {
    padding-right: 5px;
    padding-left: 5px;
    color: #30798f;
    font-size: 1.1em;
    font-weight: bold;
}

p {
    font-size: 1.4em;
    line-height: 162%;
}

a {
    color: #30798f;
    font-weight: 400;
}

a:hover {
    color: #6BA2B8;
}

.code {
    font-family: courier, monospace;
    font-weight: bold;
}

.variable { color: #30798f; }

.final-score {
    font-size: 2em;
    font-weight: 500;
}

.correctness {
    text-align: center;
    font-family: courier, monospace;
    font-size: 2em;
    font-weight: bold;
    font-weight: 500;
}

.button-container {
    display: flex;
    flex: 1 0 80%;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}

.notes-container {
    padding-top: 40px;
    padding-left: 30px;
    font-size: 1.2em;
}

.question-text {
    margin-top: 30px;
    text-align: center;
    font-size: 1.6em;
    font-weight: 500;
    line-height: 50%;
}

.question-content {
    padding-bottom: 54px;
    text-align: center;
    font-family: courier, monospace;
    font-size: 1.5em;
    font-weight: bold;
}

button {
    max-width: 350px;
    height: 55px;
    height: 76px;
    margin: 20px;
    color: #545556;
    border: 6px solid #545556;
    border-radius: 18px;
    background-color: #91B8BA;
    font-family: courier, monospace;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 100%;
    flex-wrap: wrap;
    flex: 1 0 258px;
}

button:hover {
    color: #91B8BA;
    background-color: #545556;
}

button:active { outline-style: none; }

.solution {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

table {
    font-size: 1.2em;
    font-weight: 500;
}

td { padding: 12px; }

.solution p {
    font-size: 1.2em;
    /*padding-bottom: 20px;*/
    font-weight: 500;
}

.solution-page button { margin-top: 30px; }

.solution-page {
    margin-top: 0;
    padding-top: 20px;
}

.truth { text-align: center; }

.truth td {
    padding-right: 20px;
    padding-left: 20px;
}

#table-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    min-width: 33%;
    padding: 0px;
    border-left: 8px solid #545556;
    flex-grow: 1;
}

.table-header {
    display: flex;
    text-align: center;
    color: #D9E0E2;
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.logic-table {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    flex-grow: 20;
}

.logic-block {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.row {
    display: flex;
    flex-direction: column;
    width: 98%;
    margin-bottom: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 3px;
    background-color: #D9E0E2;
    justify-content: space-around;
    align-items: center;
    /*flex: 1 0 19px;*/
}

.row div {
    min-width: 80px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 0px;
    text-align: center;
    font-family: courier, monospace;
}

.row p {
    margin: 0;
    padding: 0;
    font-size: 0.95em;
    font-weight: bold;
}

.row .smaller { font-size: 0.85em; }

.row h4 {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
}

.top-radius {
    padding-top: 8px;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
}

.no-margin {
    margin-bottom: 0;
    border-bottom-right-radius: 21px;
    border-bottom-left-radius: 21px;
}

.progress-bar {
    display: flex;
    margin: 80px 110px 0px 110px;
    justify-content: space-between;
    align-items: center;
}

.progress-bar .circle {
    width: 20px;
    height: 20px;
    border: 5px solid #545556;
    border-radius: 50%;
}

.progress-bar .line {
    height: 0;
    border-bottom: 5px solid #545556;
    flex-grow: 8;
}

.green { background-color: #599566; }
.red { background-color: #b65c5c; }
.textGreen { color: #599566; }
.textRed { color: #b65c5c; }

.hidden { display: none; }

.space-around { justify-content: space-around; }

@media (max-width: 1300px) {
    #table-container { border-left: none; }
    main { flex-direction: column; }
    .quiz-container {
        /*min-height: 982px;*/
        border-bottom-left-radius: 21px;
    }
    .row {
        width: 100%;
        padding-top: 8px;
    }
    .top-radius {
        padding-top: 4px;
        border-top-left-radius: 21px;
        border-top-right-radius: 3px;
    }
    .top-right-border { border-top-right-radius: 21px; }
    .no-margin { border-bottom-left-radius: 3px; }
    .change-margin { margin-bottom: 0px; padding-bottom: 8px; }
    .logic-block { width: 49.7%; }
    .logic-block p, .logic-blockh4 { padding-top: 8px; }
}

@media (max-width: 900px) {
  .quiz-container { min-height: 982px; }
}
