/* Colors
Dark Grey: #545556
Light Grey: #D9E0E2
Light Blue: #91B8BA
Medium Blue: #6BA2B8
Dark Blue: #007598
*/

/*body, main, .quiz-container, .question-page, .solution-page, .landing-and-score-page,
.words-container, .button-container, #table-container, .table-header, .row, .progress-bar {
  display: -webkit-box;
}*/

html, body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  background-color: #6BA2B8;

  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;

  width: 100%;
  max-width: 1200px;
  min-height: 750px;
  /*flex-wrap: wrap;*/
  margin: 80px 10%;

  color: #545556;
  border: 8px solid #545556;
  border-radius: 24px;
  background-color: #545556;

  font-family: 'Work Sans', sans-serif;
  font-weight: 400;

  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.quiz-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: column;

  padding-bottom: 20px;

  background-color: #D9E0E2;

  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;

  min-width: 67%;

}

.question-page, .solution-page, .landing-and-score-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding: 60px 80px;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  flex-grow: 20;
}

.words-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: column;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 80%;
          flex: 1 0 80%;

}

.landing-and-score-page h1, .landing-and-score-page h2 {
  font-size: 2.15em;
  line-height: 250%;
}

.landing-and-score-page h1 {
  font-weight: 600;
}

.landing-and-score-page h2 {
  font-weight: 500;
}

.huge {
  font-size: 1.4em;
  font-weight: 600;
}

.landing-and-score-page button {
  margin-top: 80px;
}

h1 span {
  padding-right: 5px;
  padding-left: 5px;

  color: #007598;

  font-size: 1.1em;
  font-weight: bold;
}

p {
  font-size: 1.4em;
  line-height: 162%;
}

a {
  color: #007598;

  font-weight: 400;
}

a:hover {
  color: #6BA2B8;
}

.code {
  font-family: courier, monospace;
  font-weight: bold;
}

.variable {
  color: #007598;
}

.final-score {
  font-size: 2em;
  font-weight: 500;
}

.correctness {
  font-family: courier, monospace;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  font-weight: 500;
}


.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-flex: 1;
      -ms-flex: 1 0 80%;
          flex: 1 0 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  /*border: 2px dashed green;*/
}

.notes-container {
  padding-top: 40px;
  padding-left: 30px;
  /*border: 2px dashed purple;*/

  font-size: 1.2em;
}

.question-text {
  margin-top: 30px;

  text-align: center;

  font-size: 1.6em;
  font-weight: 500;
  line-height: 50%;
}

.question-content {
  padding-bottom: 54px;

  text-align: center;

  font-family: courier, monospace;
  font-size: 1.5em;
  font-weight: bold;
}

button {
  max-width: 350px;
  height: 55px;
  height: 74px;
  margin: 20px;

  line-height: 100%;

  color: #545556;
  border: 6px solid #545556;
  border-radius: 18px;
  background-color: #91B8BA;

  font-family: courier, monospace;
  font-size: 1.1em;
  font-weight: bold;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 250px;
          flex: 1 0 250px;
}

button:hover {
  color: #91B8BA;
  background-color: #545556;
}

#next {

}

button:hover {

}

.notes-container p {

}


.question-text {

}

.solution {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

table {
  font-size: 1.2em;
  font-weight: 500;
}

td {
  padding: 12px;
}

.solution p {
  font-size: 1.2em;
  padding-bottom: 20px;
  font-weight: 500;
}

.solution-page button {
  margin-top: 40px;
}

.solution-page {
  padding-top: 30px;
  margin-top: 0;
}






#table-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: column;

  min-width: 33%;

  padding: 0px;

  border-left: 8px solid #545556;

  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
}

.table-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding: 10px;

  text-align: center;
  /*background-color: #545556;*/

  color: #D9E0E2;

  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.logic-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: column;

  background-color: #D9E0E2;


  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-flex: 18;
      -ms-flex-positive: 18;
          flex-grow: 18;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: #D9E0E2;

  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          -webkit-box-flex: 1;
              -ms-flex: 1 0 19px;
                  flex: 1 0 19px;

}

.row div {
  font-family: courier, monospace;
  font-size: 1.1em;
  font-weight: bold;
  min-width: 80px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 0px;

  text-align: center;

  -webkit-box-flex: 1,;
      -ms-flex: 1, 1, 80px;
          flex: 1, 1, 80px;
}

.border-top {
  padding-bottom: 0px;

  border-top: 4px solid #545556;
}

.keep-padding {
  padding-top: 15px;
  padding-bottom: 15px;
}

.progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 80px 110px 0px 110px;

  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progress-bar .circle {
  width: 20px;
  height: 20px;

  border: 5px solid #545556;
  border-radius: 50%;
}

.progress-bar .line {
  height: 0;

  border-bottom: 5px solid #545556;

  -webkit-box-flex: 8;
      -ms-flex-positive: 8;
          flex-grow: 8;
}

.green {
  background-color: #509655;
}

.red {
  background-color: #c14949;
}

.textGreen {
  color: #509655;
}

.textRed {
  color: #c14949;
}



.hidden {
  display: none;
}

.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}


@media (max-width: 1100px) {
  #table-container {
    border-left: none;
  }
  main {
            flex-direction: column;
    /*flex-wrap: wrap;*/

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
  }
}
